body {
    background: #111;
    color: #fff;
    font-family: Poppins, sans-serif;
}
#tittle-game {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 4rem;
    }

    h3 {
        text-align: center;
        font-size: 2rem;
    }
}

#select-level {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;

    a {
        margin: 0px 15px;
    }

    a:hover {
        cursor: pointer;
    }
}

#table-game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 50px;
    border: 1px solid;
    width: auto;
    height: auto;
    background: blue;
    
    .cell {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: grey;
        border-radius: 25px;
        box-shadow: 0px 0px 10px black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        height: 90px;
        width: auto;
    }

    .cell:hover {
        cursor: pointer;
    }
}